{:source-paths ["src/main/cljc"
                "src/main/cljs"
                "src/main/resources"
                "src/test/cljc"]
 :dependencies [[aero "1.1.6"]]
 :builds       {:test {:target    :node-test
                       :output-to "target/node-tests.js"
                       :autorun   true
                       :repl-pprint  true}
                :app {:target    :node-script
                      :output-to "target/k8s-mastodon-bot.js"
                      :main      dda.k8s-mastodon-bot.core/main
                      :compiler-options {:optimizations :simple}}}}
