{:source-paths ["src/main/"
                "src/test"]
 :dependencies [[aero "1.1.6"]
                [cljsjs/js-yaml "4.0.0-0"]]
 :builds       {:app {:target    :node-script
                      :output-to "target/k8s-mastodon-bot.js"
                      :main      dda.k8s-mastodon-bot.script/hallowelt
                      :compiler-options {:optimizations :simple}}}}
